In [1]:
import pandas as pd
import numpy as np
import lasio

las = lasio.read(r'../../data_well_log/las_files_Lithostrat_data/7_1-1.las')
df = las.df()
df.head()

,FORCE_2020_LITHOFACIES_CONFIDENCE,FORCE_2020_LITHOFACIES_LITHOLOGY,CALI,BS,DCAL,MUDWEIGHT,ROP,RDEP,RSHA,RMED,SP,DTC,NPHI,GR,RHOB,DRHO,DEPTH_MD,X_LOC,Y_LOC,Z_LOC
DEPT,,,,,,,,,,,,,,,,,,,,
82.6008,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82.7528,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82.9048,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83.0568,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83.2088,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 17982 entries, 82.600799561 to 2815.7127996
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   FORCE_2020_LITHOFACIES_CONFIDENCE  16241 non-null  float64
 1   FORCE_2020_LITHOFACIES_LITHOLOGY   16242 non-null  float64
 2   CALI                               16270 non-null  float64
 3   BS                                 17947 non-null  float64
 4   DCAL                               16272 non-null  float64
 5   MUDWEIGHT                          15724 non-null  float64
 6   ROP                                17343 non-null  float64
 7   RDEP                               16121 non-null  float64
 8   RSHA                               16115 non-null  float64
 9   RMED                               16152 non-null  float64
 10  SP                                 16151 non-null  float64
 11  DTC                                11396 non-null  float64
 12  NPHI                               4404 non-null   float64
 13  GR                                 16242 non-null  float64
 14  RHOB                               4397 non-null   float64
 15  DRHO                               4443 non-null   float64
 16  DEPTH_MD                           16121 non-null  float64
 17  X_LOC                              16121 non-null  float64
 18  Y_LOC                              16121 non-null  float64
 19  Z_LOC                              16121 non-null  float64
dtypes: float64(20)
memory usage: 2.9 MB

In [4]:
df.isna().sum()

FORCE_2020_LITHOFACIES_CONFIDENCE     1741
FORCE_2020_LITHOFACIES_LITHOLOGY      1740
CALI                                  1712
BS                                      35
DCAL                                  1710
MUDWEIGHT                             2258
ROP                                    639
RDEP                                  1861
RSHA                                  1867
RMED                                  1830
SP                                    1831
DTC                                   6586
NPHI                                 13578
GR                                    1740
RHOB                                 13585
DRHO                                 13539
DEPTH_MD                              1861
X_LOC                                 1861
Y_LOC                                 1861
Z_LOC                                 1861
dtype: int64

In [5]:
df.columns

Index(['FORCE_2020_LITHOFACIES_CONFIDENCE', 'FORCE_2020_LITHOFACIES_LITHOLOGY',
       'CALI', 'BS', 'DCAL', 'MUDWEIGHT', 'ROP', 'RDEP', 'RSHA', 'RMED', 'SP',
       'DTC', 'NPHI', 'GR', 'RHOB', 'DRHO', 'DEPTH_MD', 'X_LOC', 'Y_LOC',
       'Z_LOC'],
      dtype='object')

In [6]:
df.shape

(17982, 20)

In [7]:
X = df[['DEPTH_MD', 'CALI', 'RSHA', 'RMED', 'RDEP', 'RHOB', 'GR', 'NPHI', 'DTC', 'SP', 'BS']]

In [8]:
train = pd.read_csv('../../data_well_log/train.csv', sep=';')

In [9]:
train.head()

,WELL,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,GROUP,FORMATION,CALI,RSHA,RMED,...,ROP,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO,FORCE_2020_LITHOFACIES_LITHOLOGY,FORCE_2020_LITHOFACIES_CONFIDENCE
0,15/9-13,494.528,437641.96875,6470972.5,-469.501831,NORDLAND GP.,NaN,19.480835,NaN,1.611410,...,34.636410,NaN,NaN,-0.574928,NaN,NaN,NaN,NaN,65000,1.0
1,15/9-13,494.680,437641.96875,6470972.5,-469.653809,NORDLAND GP.,NaN,19.468800,NaN,1.618070,...,34.636410,NaN,NaN,-0.570188,NaN,NaN,NaN,NaN,65000,1.0
2,15/9-13,494.832,437641.96875,6470972.5,-469.805786,NORDLAND GP.,NaN,19.468800,NaN,1.626459,...,34.779556,NaN,NaN,-0.574245,NaN,NaN,NaN,NaN,65000,1.0
3,15/9-13,494.984,437641.96875,6470972.5,-469.957794,NORDLAND GP.,NaN,19.459282,NaN,1.621594,...,39.965164,NaN,NaN,-0.586315,NaN,NaN,NaN,NaN,65000,1.0
4,15/9-13,495.136,437641.96875,6470972.5,-470.109772,NORDLAND GP.,NaN,19.453100,NaN,1.602679,...,57.483765,NaN,NaN,-0.597914,NaN,NaN,NaN,NaN,65000,1.0

In [10]:
well = train['WELL'].unique()
len(well)

98

In [2]:
df_train = pd.read_csv('/media/Data-B/my_research/Geoscience_FL/data_well_log/train.csv', delimiter=';')
df_train['WELL'].unique()

array(['15/9-13', '15/9-15', '15/9-17', '16/1-2', '16/1-6 A', '16/10-1',
       '16/10-2', '16/10-3', '16/10-5', '16/11-1 ST3', '16/2-11 A',
       '16/2-16', '16/2-6', '16/4-1', '16/5-3', '16/7-4', '16/7-5',
       '16/8-1', '17/11-1', '25/11-15', '25/11-19 S', '25/11-5',
       '25/2-13 T4', '25/2-14', '25/2-7', '25/3-1', '25/4-5', '25/5-1',
       '25/5-4', '25/6-1', '25/6-2', '25/6-3', '25/7-2', '25/8-5 S',
       '25/8-7', '25/9-1', '26/4-1', '29/6-1', '30/3-3', '30/3-5 S',
       '30/6-5', '31/2-1', '31/2-19 S', '31/2-7', '31/2-8', '31/2-9',
       '31/3-1', '31/3-2', '31/3-3', '31/3-4', '31/4-10', '31/4-5',
       '31/5-4 S', '31/6-5', '31/6-8', '32/2-1', '33/5-2', '33/6-3 S',
       '33/9-1', '33/9-17', '34/10-19', '34/10-21', '34/10-33',
       '34/10-35', '34/11-1', '34/11-2 S', '34/12-1', '34/2-4',
       '34/3-1 A', '34/4-10 R', '34/5-1 A', '34/5-1 S', '34/7-13',
       '34/7-20', '34/7-21', '34/8-1', '34/8-3', '34/8-7 R', '35/11-1',
       '35/11-10', '35/11-11', '35/11-12', '35/11-13', '35/11-15 S',
       '35/11-6', '35/11-7', '35/12-1', '35/3-7 S', '35/4-1', '35/8-4',
       '35/8-6 S', '35/9-10 S', '35/9-2', '35/9-5', '35/9-6 S', '36/7-3',
       '7/1-1', '7/1-2 S'], dtype=object)

In [5]:
all_well = df_train['WELL'].unique()
print(len(all_well))

98

**Some wells do not have the same curve data**

In [12]:
# Filter rows with WELL name as '35/4-1'
well_35_4_1 = df_train[df_train['WELL'] == '35/4-1']
well_35_4_1.columns

Index(['WELL', 'DEPTH_MD', 'X_LOC', 'Y_LOC', 'Z_LOC', 'GROUP', 'FORMATION',
       'CALI', 'RSHA', 'RMED', 'RDEP', 'RHOB', 'GR', 'SGR', 'NPHI', 'PEF',
       'DTC', 'SP', 'BS', 'ROP', 'DTS', 'DCAL', 'DRHO', 'MUDWEIGHT', 'RMIC',
       'ROPA', 'RXO', 'FORCE_2020_LITHOFACIES_LITHOLOGY',
       'FORCE_2020_LITHOFACIES_CONFIDENCE'],
      dtype='object')

In [13]:
log_curvers = ['CALI', 'BS', 'DCAL', 'ROP', 'RDEP', 'RSHA', 'RMED', 'SP', 'DTS', 'DTC', 'NPHI', 'GR', 'RHOB', 'DRHO']
print(len(log_curvers))
well_35_4_1 = well_35_4_1[log_curvers]
well_35_4_1.head()

14

,CALI,BS,DCAL,ROP,RDEP,RSHA,RMED,SP,DTS,DTC,NPHI,GR,RHOB,DRHO
1076030,NaN,26.000002,NaN,14.999701,1.075178,NaN,1.005212,NaN,NaN,144.359283,0.567329,46.560646,NaN,NaN
1076031,NaN,26.000002,NaN,14.999701,1.126755,NaN,1.105142,NaN,NaN,140.593689,0.560920,45.407211,NaN,NaN
1076032,NaN,26.000002,NaN,14.999701,1.117510,NaN,1.139547,NaN,NaN,140.705338,0.532830,44.425045,NaN,NaN
1076033,NaN,26.000002,NaN,14.999701,1.135859,NaN,1.207895,NaN,NaN,142.390594,0.520973,44.018967,NaN,NaN
1076034,NaN,26.000002,NaN,15.135280,1.136199,NaN,1.202395,NaN,NaN,145.113831,0.529003,43.864357,NaN,NaN

In [14]:
lithology_keys = {30000: 'Sandstone',
                 65030: 'Sandstone/Shale',
                 65000: 'Shale',
                 80000: 'Marl',
                 74000: 'Dolomite',
                 70000: 'Limestone',
                 70032: 'Chalk',
                 88000: 'Halite',
                 86000: 'Anhydrite',
                 99000: 'Tuff',
                 90000: 'Coal',
                 93000: 'Basement',
                 0: 'None'}

num_classes = len(lithology_keys.keys())
print(num_classes)

13

In [27]:
labels = df['FORCE_2020_LITHOFACIES_LITHOLOGY'].fillna(12345).astype(int)
labels.head(2000)

DEPT
82.6008     12345
82.7528     12345
82.9048     12345
83.0568     12345
83.2088     12345
            ...
385.8408    65000
385.9928    65000
386.1448    65000
386.2968    65000
386.4488    65000
Name: FORCE_2020_LITHOFACIES_LITHOLOGY, Length: 2000, dtype: int64